<a href="https://colab.research.google.com/github/RajeshMallik19/Project_Q/blob/main/1_Employee_Data_Prep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load the CSV file you just uploaded
file_path = '/content/WA_Fn-UseC_-HR-Employee-Attrition.csv'
df = pd.read_csv(file_path)

# --- Verification Step ---
# Display the first 5 rows to ensure it loaded correctly
print("Data loaded successfully. Here are the first 5 rows:")
df.head()

Data loaded successfully. Here are the first 5 rows:

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [2]:
# Get a concise summary of the dataframe
# This shows column names, non-null counts, and data types (Dtype)
print("\nDataset Information:")
df.info()

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [3]:
# Check how many unique values are in these columns
print(f"\nUnique values in 'EmployeeCount': {df['EmployeeCount'].nunique()}")
print(f"Unique values in 'StandardHours': {df['StandardHours'].nunique()}")
print(f"Unique values in 'Over18': {df['Over18'].nunique()}")

# Drop these constant columns, plus the employee number which is just an ID
df_cleaned = df.drop(columns=['EmployeeCount', 'StandardHours', 'Over18', 'EmployeeNumber'])

# --- Verification Step ---
# Display the shape of the dataframe before and after
print(f"\nOriginal shape (rows, columns): {df.shape}")
print(f"Shape after cleaning (rows, columns): {df_cleaned.shape}")

Unique values in 'EmployeeCount': 1
Unique values in 'StandardHours': 1
Unique values in 'Over18': 1

Original shape (rows, columns): (1470, 35)
Shape after cleaning (rows, columns): (1470, 31)

In [4]:
# We will work with the cleaned dataframe from the previous step
# The variable was named df_cleaned

# Separate the target variable (what we want to predict)
target = df_cleaned['Attrition']

# Separate the feature variables (the inputs to the model)
features = df_cleaned.drop(columns=['Attrition'])

# --- Encode the Target Variable ---
# We use LabelEncoder to turn 'No' and 'Yes' into 0 and 1
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
target_encoded = le.fit_transform(target)

# --- Verification Step ---
# Check the first 5 and last 5 values to see the change
# Original: ['Yes', 'No', 'Yes', 'No', 'No']
# Encoded: [1, 0, 1, 0, 0]
print("Original Attrition labels:", target.head().values)
print("Encoded Attrition labels: ", target_encoded[:5])

# --- One-Hot Encode the Feature Variables ---
# This will find all columns with text data and convert them into numerical columns
features_encoded = pd.get_dummies(features)

# --- Verification Step ---
# Display the first 5 rows of the new, fully-encoded dataframe
print("\nFeatures after one-hot encoding:")
features_encoded.head()

# Check the shape of our final encoded features dataframe
print(f"\nOriginal number of feature columns: {features.shape[1]}")
print(f"Number of feature columns after encoding: {features_encoded.shape[1]}")

Original Attrition labels: ['Yes' 'No' 'Yes' 'No' 'No']
Encoded Attrition labels:  [1 0 1 0 0]

Features after one-hot encoding:

Original number of feature columns: 30
Number of feature columns after encoding: 51

In [5]:
# Create a new dataframe for our final, prepped data
# This combines the encoded features and the encoded target
final_df = features_encoded.copy()
final_df['Attrition'] = target_encoded

# Save this dataframe to a new CSV file
# The index=False part is important to avoid saving an extra column
final_df.to_csv('employee_attrition_prepped.csv', index=False)

print("Prepped data saved to 'employee_attrition_prepped.csv'")
print("You can now start a new notebook for model training.")

Prepped data saved to 'employee_attrition_prepped.csv'
You can now start a new notebook for model training.